body {
    background-image: url("1024px-Brown-eggs.jpg");
    background-size: 1500px;
    background-repeat:no-repeat;
}

div {
    background: rgba(197, 197, 197, .7);
    border-radius: 10px;
    width: 800px;
    height: 100px;
    margin: auto;
    text-align: center;
}

#top{
    width: 1200px;
    height: 50px;
    margin-bottom: 20px;
    background: rgba(214, 149, 79, .7);
}

#bottom{
    width: 790px;
    height: 80px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(214, 149, 79, .8);
}

#intro {
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    width: 780px;
}

#date {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    padding: 10px;
}