<html>
    <head>
        <title>Julian's Eggs</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div id="top">
            <h1>Julian Dates for Eggs</h1>
        </div>
        <div id="intro">
            <p>Egg cartons come with a three-digit code stamped on the side that represents the Julian date of the day that the eggs were sorted, washed, and put in the carton.  In order to get the freshest eggs, it is best to buy cartons with three-digit codes that are closest to the purchase day's Julian date.</p>
        </div>
        <div id="date">
            <h2>Today's Julian date is </h2>
            <h1>{{date}}</h1>
        </div>
    </body>
</html>